# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = deathmatch.wad
doom_skill = 3

# Rendering options
screen_resolution = RES_160X120
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = true
render_effects_sprites = false
render_screen_flashes = false
labels_buffer_enabled = true
objects_info_enabled = true

# make episodes finish after 4200 actions (tics)
episode_timeout = 4200

# Rewards
living_reward = -1
death_penalty = 100

# Available buttons
available_buttons =
	{
		ATTACK

        MOVE_BACKWARD
        MOVE_FORWARD
        TURN_RIGHT
        TURN_LEFT
	}

# Game variables that will be in the state
available_game_variables =
	{
        FRAGCOUNT
        HEALTH
        ARMOR
    }
mode = PLAYER
